# Dependencies
node_modules

# Build output
dist

# Turbo
.turbo

# TypeScript
*.tsbuildinfo

# Misc
.DS_Store

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
*.swp
*.swo

# Coverage
coverage

# Playwright
test-results
playwright-report
blob-report

# Demo
demo/node_modules
demo/.next
