name: Quality

on:
  pull_request:

jobs:
  # -------- Lint --------
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.1

      - name: Install dependencies
        run: |
          npm ci
          npm ci --prefix demos/react
          npm ci --prefix demos/react-native

      - name: Run Lint
        run: npm run lint

  # -------- TruffleHog --------
  trufflehog:
    name: TruffleHog
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: TruffleHog OSS
        uses: trufflesecurity/trufflehog@v3.93.2
        with:
          path: ./
          base: ${{ github.event.repository.default_branch }}
          head: HEAD
          extra_args: --debug
